* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

/* GENERAL */
h1, h2, p {
  text-align: center;
}

p {
  font-size: 28px;
}

#br {
  margin-top: 200px;
}
/* END */

/* 1- NO POSITION */
.vert {
  width: 1000px;
  height: 500px;
  background-color: green;
  margin: auto;
  padding-top: 120px;
  border: solid black;
}

.bleu {
  width: 500px;
  height: 250px;
  background-color: blue;
  margin: auto;
  padding-top: 120px;
  border: solid black;
}

.orange {
  width: 250px;
  height: 120px;
  background-color: orange;
  margin: auto;
  border: solid black;
}
/* END */

/* 2- Relative */
.vertRelative {
  width: 1000px;
  height: 500px;
  background-color: green;
  margin: auto;
  border: solid black;
}

.bleuRelative {
  width: 800px;
  height: 250px;
  background-color: rgba(0, 0, 255, 0.294);
  margin: auto;
  position: relative;
  left: 250px;
  top: 120px;
  border: solid black;
}

.orangeRelative {
  width: 800px;
  height: 120px;
  background-color: orange;
  margin: auto;
  position: relative;
  right: 400px;
  bottom: 70px;
  border: solid black;
}
/* END */

/* 3- Absolue */
.vertAbsolue {
  width: 1000px;
  height: 500px;
  background-color: green;
  margin: auto;
  border: solid black;
}

.bleuAbsolue {
  width: 500px;
  height: 250px;
  background-color: blue;
  margin: auto;
  position: absolute;
  margin-top: 120px;
  left: 700px;
  border: solid black;
}

.orangeAbsolue {
  width: 120px;
  height: 120px;
  background-color: orange;
  position: absolute;
  margin-top: 550px;
  left: 900px;
  border: solid black;
}
/* END */

/* 4- Absolue V2 */
.cyanAbsolue {
  width: 99%;
  height: 100px;
  margin: auto;
  background-color: cadetblue;
  border: solid black;
}

.vertAbsolueV2 {
  width: 1000px;
  height: 500px;
  background-color: green;
  margin: auto;
  margin-top: 100px;
  border: solid black;
}

.bleuAbsolueV2 {
  width: 500px;
  height: 250px;
  background-color: blue;
  margin: auto;
  position: absolute;
  margin-top: 120px;
  left: 700px;
  border: solid black;
}

.orangeAbsolueV2 {
  width: 120px;
  height: 120px;
  background-color: orange;
  position: absolute;
  margin-top: 550px;
  left: 1600px;
  border: solid black;
}
/* END */

