* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

/* GENERAL */
h1, h2, p {
  text-align: center;
}

p {
  font-size: 28px;
}

.br {
  margin-top: 200px;
}
/* END */

/* 1- NO POSITION */
.vert {
  width: 1000px;
  height: 500px;
  background-color: green;
  margin: auto;
  padding-top: 120px;
  border: solid black;
}

.bleu {
  width: 500px;
  height: 250px;
  background-color: blue;
  margin: auto;
  padding-top: 120px;
  border: solid black;
}

.orange {
  width: 250px;
  height: 120px;
  background-color: orange;
  margin: auto;
  border: solid black;
}
/* END */

/* 2- Relative */
.vertRelative {
  width: 1000px;
  height: 500px;
  background-color: green;
  margin: auto;
  border: solid black;
}

.bleuRelative {
  width: 800px;
  height: 250px;
  background-color: rgba(0, 0, 255, 0.294);
  margin: auto;
  position: relative;
  left: 250px;
  top: 120px;
  border: solid black;
}

.orangeRelative {
  width: 800px;
  height: 120px;
  background-color: orange;
  margin: auto;
  position: relative;
  right: 400px;
  bottom: 70px;
  border: solid black;
}
/* END */

/* 3- Absolue */
.vertAbsolue {
  width: 1000px;
  height: 500px;
  background-color: green;
  margin: auto;
  border: solid black;
}

.bleuAbsolue {
  width: 500px;
  height: 250px;
  background-color: blue;
  margin: auto;
  position: absolute;
  margin-top: 120px;
  left: 700px;
  border: solid black;
}

.orangeAbsolue {
  width: 120px;
  height: 120px;
  background-color: orange;
  position: absolute;
  margin-top: 550px;
  left: 900px;
  border: solid black;
}
/* END */

/* 4- Absolue V2 */
.cyanAbsolue {
  width: 99%;
  height: 100px;
  margin: auto;
  background-color: cadetblue;
  border: solid black;
}

.vertAbsolueV2 {
  width: 1000px;
  height: 500px;
  background-color: green;
  margin: auto;
  margin-top: 100px;
  border: solid black;
}

.bleuAbsolueV2 {
  width: 500px;
  height: 250px;
  background-color: blue;
  margin: auto;
  position: absolute;
  margin-top: 120px;
  left: 700px;
  border: solid black;
}

.orangeAbsolueV2 {
  width: 120px;
  height: 120px;
  background-color: orange;
  position: absolute;
  margin-top: 550px;
  left: 1600px;
  border: solid black;
}
/* END */

/* 5- Absolue/Relative */
.cyan {
  width: 250px;
  height: 250px;
  background-color: cadetblue;
  margin: auto;
  margin-top: 50px;
  border: solid black;
}

.vertV2 {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  border: solid black;
}

.bleuV2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
  left: 135px;
  top: 5px;
  border: solid black;
}

.orangeV2 {
  width: 100px;
  height: 100px;
  background-color: orange;
  position: absolute;
  margin-top: 35px;
  margin-left: 5px;
  border: solid black;
}

.jaune {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: relative;
  left: 135px;
  top: 35px;
  border: solid black;
}
/* END */

/* 6- Random */
.cyanV3 {
  width: 450px;
  height: 450px;
  background-color: cadetblue;
  margin: auto;
}

.vertV3 {
  width: 150px;
  height: 150px;
  background-color: green;
  position: relative;
  top: 50px;
  left: 50px;
}

.bleuV3 {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 255, 0.342);
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 3;
}

.orangeV3 {
  width: 150px;
  height: 150px;
  background-color: orange;
  position: relative;
  bottom: 100px;
  left: 200px;
  z-index: 2;
}

.jauneV3 {
  width: 150px;
  height: 150px;
  background-color: yellow;
  position: relative;
  top: 100px;
  left: 250px;
}
/* END */